<!-- <mat-toolbar color='primary'>
    <span>Crud Angular</span>
    
  </mat-toolbar> -->

  <!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Crud Angular</span>
      <span class="example-spacer"></span>
      <div class="botao">
        <button   type="button"  mat-raised-button  [routerLink]="['/categorias']">Categorias</button>
    </div>
    
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row> -->

<header>
    <h1 class="text">Crud Angular</h1>
    <div class="botao">
        <button  class="botaoproduto" type="button"  mat-raised-button  [routerLink]="['/']">Produtos</button>
        <button  class="botaocategoria" type="button"  mat-raised-button  [routerLink]="['/categorias']">Categorias</button>
    </div>
    
</header>

